.btn-add-to-cart {
  max-width: 80%;
  border-radius: 12px;
  width: 100%;
  padding: 10px 0;
  border: none;
  font-weight: bold;
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  margin-top: 1rem;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
  margin-bottom: 25px;
}
