.minicartIconContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.openIconContainer :global(.vtex-button__label) {
  margin: 0;
  padding: 0;
}

.minicartIconContainer::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none'%3E%3Cpath d='M12.375 30.375C12.9963 30.375 13.5 29.8713 13.5 29.25C13.5 28.6287 12.9963 28.125 12.375 28.125C11.7537 28.125 11.25 28.6287 11.25 29.25C11.25 29.8713 11.7537 30.375 12.375 30.375Z' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28.125 30.375C28.7463 30.375 29.25 29.8713 29.25 29.25C29.25 28.6287 28.7463 28.125 28.125 28.125C27.5037 28.125 27 28.6287 27 29.25C27 29.8713 27.5037 30.375 28.125 30.375Z' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.375 5.625H7.875L11.25 24.75H29.25' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 20.25H28.7887C28.9188 20.2501 29.0449 20.2051 29.1456 20.1227C29.2462 20.0402 29.3152 19.9255 29.3407 19.7979L31.3657 9.67289C31.382 9.59125 31.3801 9.50699 31.3599 9.42621C31.3397 9.34543 31.3018 9.27014 31.249 9.20576C31.1962 9.14138 31.1298 9.08953 31.0545 9.05395C30.9792 9.01837 30.897 8.99994 30.8137 9H9' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: flex;
}
.minicartQuantityBadgeDefault {
  top: -10px;
  right: -10px;
}
.minicartContainer {
  padding: 0;
}

.openIconContainer :global(.vtex-button) {
  border: none;
  background: transparent;
}

.openIconContainer {
  padding: 0px;
  padding-left: 0.75rem;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productName) {
  height: 50px;
  overflow: hidden;
}
:global(.vtex-product-list-0-x-quantitySelectorContainer) {
  display: none;
}
:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: none;
}

:global(.vtex-checkout-summary-0-x-price) {
  font-family: "Futura Regular", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #001d7e;
}

.minicartCheckoutButton :global(.vtex-button) {
  background: #001d7e;
  border-radius: 5px;
  border: none;
  font-family: Futura Md BT, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
}

.opened {
  z-index: 999999999;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-deleteIcon) {
  overflow: visible !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0px;
}

.minicartCheckoutButton :global(.vtex-button__label)::before {
  content: "Finalizar compra";
  font-family: Futura Md BT, sans-serif;
  font-size: 20px;
}

.cartIcon {
  display: none;
}

@media (max-width: 991.98px) {
  .openIconContainer {
    padding-left: 0;
  }

  .cartIcon {
    top: -5px;
  }
}
