.styledLinkContainer--menu-institucional {
  margin: 0px;
}

.styledLinkContent--item-menu-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    border-bottom: 1px solid #ed1b34;
  }
}

.styledLinkContainer {
  margin: 0 0.5rem;
  display: flex;
}

.styledLinkContainer--icon-seta:hover {
  background: #f2f2f2;
}

.styledLinkContent--atendimento {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.styledLinkContent--atendimento::before {
  content: "";
  background: url("/arquivos/icon-telefone.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 24px;
  height: 24px;
}
.menuItem--icon-seta--isOpen .styledLinkContent--icon-seta::after {
  content: "";
  background: url("/arquivos/seta-direita-vermelha.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2rem;
}

/* menu desktop */

.submenuContainer--submenu-header {
  position: absolute;
  left: 16%;
}

.submenu--submenu-header {
  justify-content: left;
}

.styledLink--submenu-categorias {
  display: flex;
}

.menuItem--submenu-categorias .submenuContainer--submenu-header {
  top: 0;
  left: 90%;
}

.submenuWrapper--submenu-categorias {
  width: 16.5rem !important;
}

.submenuWrapper--submenu-categorias .styledLinkContent {
  color: #434343;
}

.submenuWrapper {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
  width: 65rem;
  height: 38rem;
  z-index: 9999;
}
/* menu desktop */

.menuItem--menu-institucional:hover .styledLinkContent--menu-institucional {
  color: #fff;
}

.submenuAccordion--menu-mobile-institucional-items {
  display: flex;
  flex-direction: column;
}

.menuItem--menu-institucional:hover :global(.vtex-download-icon) {
  color: #fff;
  fill: #fff;
}

.menuItem--menu-institucional {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.submenuAccordion--menu-mobile-institucional-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenuAccordion--menu-mobile-institucional-items {
  padding: 0px;
}

.styledLinkContainer--menu-mobile-institucional {
  margin: 0px;
}

.styledLinkContainer--menu-institucional,
.menuItem--menu-institucional,
.menuContainer--menu-institucional,
.menuContainerNav--menu-institucional {
  width: 100%;
}

.styledLinkContent--menu-mobile-institucional,
.styledLinkContent--menu-institucional {
  font-family: "Futura Medium", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ed1b34;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
}

.styledLinkContent--menu-mobile-institucional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.styledLinkContent--menu-mobile-institucional {
  padding: 1rem;
}

.styledLinkContent--menu-mobile-institucional {
  border: 1px solid #ed1b34;
}

.accordionIcon--menu-mobile-institucional {
  color: #ed1b34;
}

.styledLink--menu-institucional {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRow--header-menu-container) {
  background: #001d7e;
  max-height: 61px;
  position: relative;
}

.menuContainer {
  justify-content: center;
  gap: 0.375rem;
}

.styledLinkContainer--all-categories {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: 0.2s;
}

.menuItem--all-categories--isOpen .styledLinkContainer--all-categories::before {
  filter: none;
}

.styledLinkContent--all-categories {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 18C3.71667 18 3.47934 17.904 3.288 17.712C3.09667 17.52 3.00067 17.2827 3 17C2.99934 16.7173 3.09534 16.48 3.288 16.288C3.48067 16.096 3.718 16 4 16H20C20.2833 16 20.521 16.096 20.713 16.288C20.905 16.48 21.0007 16.7173 21 17C20.9993 17.2827 20.9033 17.5203 20.712 17.713C20.5207 17.9057 20.2833 18.0013 20 18H4ZM4 13C3.71667 13 3.47934 12.904 3.288 12.712C3.09667 12.52 3.00067 12.2827 3 12C2.99934 11.7173 3.09534 11.48 3.288 11.288C3.48067 11.096 3.718 11 4 11H20C20.2833 11 20.521 11.096 20.713 11.288C20.905 11.48 21.0007 11.7173 21 12C20.9993 12.2827 20.9033 12.5203 20.712 12.713C20.5207 12.9057 20.2833 13.0013 20 13H4ZM4 8C3.71667 8 3.47934 7.904 3.288 7.712C3.09667 7.52 3.00067 7.28267 3 7C2.99934 6.71733 3.09534 6.48 3.288 6.288C3.48067 6.096 3.718 6 4 6H20C20.2833 6 20.521 6.096 20.713 6.288C20.905 6.48 21.0007 6.71733 21 7C20.9993 7.28267 20.9033 7.52033 20.712 7.713C20.5207 7.90567 20.2833 8.00133 20 8H4Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 8px;
  }
}

.styledLinkContent--all-categories:hover {
  border-bottom: none !important;
  background: none !important;
}

.menuItem--all-categories--isOpen .styledLinkContainer--all-categories {
  background: #bf0811;
  color: #fff;
  height: 44px;
  padding: 15px 8px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.menuItem--all-categories--isOpen .styledLinkContainer--all-categories::after {
  content: "";
  display: flex;
  background: url("/arquivos/flecha-categoria-aberta.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.styledLinkContainer--atendimento {
  display: flex;
  width: 12.6rem;
  padding: 10px 10px;
  border-radius: 4px;
  background: #003295;
  margin-top: 1rem;
  margin-left: 0;
  transition: 0.2s;
}

.styledLinkContainer--atendimento:hover {
  background: #012f8a;
}

.styledLinkContent--atendimento {
  color: #fff !important;
}

.menuContainerNav--menu-institucional {
  background-color: #fff;
}

.menuItem--all-categories--isOpen .styledLinkContent--all-categories {
  color: #fff;
}

.styledLinkContent--menu-institucional {
  font-family: "Futura Medium", sans-serif;
  color: #c4c4c4;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.styledLinkContainer--menu-institucional {
  list-style: none;
  border: 2px solid #c4c4c4;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.styledLinkContainer--menu-institucional:hover {
  border: 2px solid #bf0811;
}

.styledLinkContainer--menu-institucional-footer {
  margin: 0px;
}

.styledLinkContainer--menu-institucional:hover
  .styledLinkContent--menu-institucional {
  color: #bf0811;
}

.menuItem--menu-accordion--container-mobile {
  background: #f3f3f3;
  padding: 2rem 0px;
}

.submenuWrapper--submenu-header {
  background: linear-gradient(90deg, #f2f2f2 0%, #fff 100%);
}

.menuItem--atendimento .submenuWrapper--submenu-header {
  max-width: 22rem;
}

.accordionIcon--menu-accordion--container-mobile {
  font-size: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12' fill='none'%3E%3Cpath d='M1.70703 1.90723L8.44775 9.35426L14.707 1.90723' stroke='%23ED1B34' stroke-width='3'/%3E%3C/svg%3E");
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

.submenuAccordion--menu-accordion--mobile {
  margin-top: 1rem;
  padding: 0px;
}

.styledLinkContent--menu-accordion--container-mobile {
  font-family: "Futura Medium", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  white-space: nowrap;
  text-align: left;
  color: #515151;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.accordionIcon--menu-accordion--container-mobile--isOpen {
  transform: rotate(0deg);
}

.menuItem--menu-header {
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001d7e;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  z-index: 99999;
}

.styledLinkContent--menu-header {
  color: #666;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.styledLinkContent--menu-header:hover {
  text-decoration: underline;
  color: #001d7e;
}

.menuItem--menu-header:hover {
  background-color: #fff;
}

.menuItem--menu-header:hover .styledLinkContent--menu-header {
  color: #001d7e;
}

.menuItem--icon-seta {
  width: 13rem;
}

.styledLinkContainer--menu-header {
  margin: 0px;
}

.menuContainer--menu-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 2rem;
}

.menuContainer--header-menu-titles-container {
  justify-content: space-between;
}
