.flexRowContent--search-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 2px solid #dcdcdc;
}

.flexColChild--search-content {
  margin-left: 24px;
}
