:global(.vtex-store-drawer-0-x-menuLink) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:global(.vtex-store-drawer-0-x-menuLink.dn) {
  display: none !important;
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Tv's e Áudio"]),
:global(.Áudio) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.511719 20.1595V9.91812C0.511719 7.35778 1.88079 6.07761 4.61893 6.07761H21.0478C23.7859 6.07761 25.155 7.35778 25.155 9.91812V20.1595C25.155 22.7198 23.7859 24 21.0478 24H4.61893C1.88079 24 0.511719 22.7198 0.511719 20.1595Z' fill='white'/%3E%3Cpath d='M19.0353 1.63542L14.2846 6.07761H11.3822L6.63151 1.63542C6.23448 1.26417 6.23448 0.649687 6.63151 0.278437C7.02854 -0.0928124 7.6857 -0.0928124 8.08273 0.278437L12.8334 4.72063L17.5841 0.278437C17.9811 -0.0928124 18.6383 -0.0928124 19.0353 0.278437C19.4323 0.649687 19.4323 1.26417 19.0353 1.63542Z' fill='white'/%3E%3Cpath d='M4.6189 18.2392V11.8384C4.6189 10.5582 5.30343 9.91812 6.6725 9.91812H14.8869C16.256 9.91812 16.9405 10.5582 16.9405 11.8384V18.2392C16.9405 19.5194 16.256 20.1595 14.8869 20.1595H6.6725C5.30343 20.1595 4.6189 19.5194 4.6189 18.2392Z' fill='%230087D2'/%3E%3Cpath d='M22.4169 11.1983C22.4169 11.9056 21.8042 12.4785 21.0478 12.4785C20.2914 12.4785 19.6787 11.9056 19.6787 11.1983C19.6787 10.491 20.2914 9.91812 21.0478 9.91812C21.8042 9.91812 22.4169 10.491 22.4169 11.1983ZM21.0478 13.7586C20.2914 13.7586 19.6787 14.3315 19.6787 15.0388C19.6787 15.7461 20.2914 16.319 21.0478 16.319C21.8042 16.319 22.4169 15.7461 22.4169 15.0388C22.4169 14.3315 21.8042 13.7586 21.0478 13.7586Z' fill='%230087D2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 26px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Celulares e Smartphones"]),
:global(.Celulares) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='24' viewBox='0 0 18 24' fill='none'%3E%3Cpath d='M0.277832 20V4C0.277832 1.33333 1.70376 0 4.55561 0H13.1112C15.963 0 17.3889 1.33333 17.3889 4V20C17.3889 22.6667 15.963 24 13.1112 24H4.55561C1.70376 24 0.277832 22.6667 0.277832 20Z' fill='white'/%3E%3Cpath d='M10.9722 5H6.69444C6.10269 5 5.625 4.55333 5.625 4C5.625 3.44667 6.10269 3 6.69444 3H10.9722C11.564 3 12.0417 3.44667 12.0417 4C12.0417 4.55333 11.564 5 10.9722 5Z' fill='%230087D2'/%3E%3Cpath d='M8.8334 21.3333C9.62091 21.3333 10.2593 20.7364 10.2593 20C10.2593 19.2636 9.62091 18.6667 8.8334 18.6667C8.04588 18.6667 7.40747 19.2636 7.40747 20C7.40747 20.7364 8.04588 21.3333 8.8334 21.3333Z' fill='%230087D2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Móveis"]),
:global(.Móveis) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewBox='0 0 26 20' fill='none'%3E%3Cpath d='M19.6064 17.4333V18.7667C19.6064 19.3267 19.1216 19.7667 18.537 19.7667C17.9523 19.7667 17.4675 19.3267 17.4675 18.7667V17.4333H19.6064Z' fill='white'/%3E%3Cpath d='M8.19919 17.4333V18.7667C8.19919 19.3267 7.71438 19.7667 7.12975 19.7667C6.54512 19.7667 6.0603 19.3267 6.0603 18.7667V17.4333H8.19919Z' fill='white'/%3E%3Cpath d='M22.8148 4.10333C24.3905 4.10333 25.6667 5.29667 25.6667 6.77V13.4367C25.6667 16.1033 24.2407 17.4367 21.3889 17.4367H4.27778C1.42593 17.4367 0 16.1033 0 13.4367V6.77C0 5.29667 1.2762 4.10333 2.85185 4.10333C4.4275 4.10333 5.7037 5.29667 5.7037 6.77V12.1033H19.963V6.77C19.963 5.29667 21.2392 4.10333 22.8148 4.10333Z' fill='%2351C1FF'/%3E%3Cpath d='M22.8148 2.76667V4.10001C21.2462 4.10001 19.9629 5.30001 19.9629 6.76667V12.1H5.70366V6.76667C5.70366 6.03334 5.38995 5.36667 4.86236 4.88667C4.34903 4.39334 3.63607 4.10001 2.85181 4.10001V2.76667C2.85181 1.30001 4.13514 0.100006 5.70366 0.100006H19.9629C21.5314 0.100006 22.8148 1.30001 22.8148 2.76667Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 19px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Eletrodomésticos"]),
:global(.Eletrodomésticos) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M19.7867 0.0480042H1.79629C0.91239 0.0480042 0.188232 0.725139 0.188232 1.55164V6.2418H21.3912V1.55164C21.3912 0.725139 20.667 0.0480042 19.7831 0.0480042H19.7867ZM2.524 3.67931C1.89569 3.82204 1.34192 3.30423 1.49457 2.71671C1.56556 2.44121 1.80695 2.21218 2.10513 2.1458C2.73344 2.00307 3.28721 2.52088 3.13457 3.10839C3.06357 3.38389 2.82219 3.61292 2.524 3.67931ZM4.99466 3.67931C4.36634 3.82204 3.81258 3.30423 3.96522 2.71671C4.03622 2.44121 4.2776 2.21218 4.57579 2.1458C5.2041 2.00307 5.75787 2.52088 5.60522 3.10839C5.53423 3.38389 5.29284 3.61292 4.99466 3.67931ZM7.46531 3.67931C6.837 3.82204 6.28323 3.30423 6.43587 2.71671C6.50687 2.44121 6.74826 2.21218 7.04644 2.1458C7.67475 2.00307 8.22852 2.52088 8.07588 3.10839C8.00488 3.38389 7.7635 3.61292 7.46531 3.67931ZM15.7044 3.27767C15.7044 3.51334 15.4985 3.70254 15.25 3.70254H11.2423C10.9903 3.70254 10.7879 3.51002 10.7879 3.27767V2.54743C10.7879 2.31508 10.9938 2.12256 11.2423 2.12256H15.25C15.5021 2.12256 15.7044 2.31508 15.7044 2.54743V3.27767ZM18.8921 4.11082C17.9727 4.27346 17.1811 3.53326 17.3551 2.67356C17.4509 2.19558 17.8698 1.80391 18.3809 1.71429C19.3003 1.55164 20.0919 2.29184 19.918 3.15154C19.8222 3.62952 19.4033 4.02119 18.8921 4.11082Z' fill='white'/%3E%3Cpath d='M0.191895 6.24179V22.4964C0.191895 23.3229 0.916052 24 1.79995 24H19.7903C20.6742 24 21.3984 23.3229 21.3984 22.4964V6.24179H0.195448H0.191895ZM10.7916 21.5105C7.02526 21.5105 3.95823 18.646 3.95823 15.1209C3.95823 11.5958 7.02171 8.73126 10.7916 8.73126C14.5615 8.73126 17.6249 11.5958 17.6249 15.1209C17.6249 18.646 14.5615 21.5105 10.7916 21.5105Z' fill='%23E4EFFF'/%3E%3Cpath d='M10.7915 9.81003C7.66057 9.81003 5.11182 12.1933 5.11182 15.1209C5.11182 18.0485 7.66057 20.4318 10.7915 20.4318C13.9224 20.4318 16.4712 18.0485 16.4712 15.1209C16.4712 12.1933 13.9224 9.81003 10.7915 9.81003ZM10.7915 10.4772C13.2621 10.4772 15.3104 12.1734 15.6902 14.3873L14.8063 13.9625C14.5152 13.823 14.0183 13.8131 13.7201 13.9392L13.2231 14.1517C12.8255 14.3243 12.2078 14.3176 11.8138 14.1384L11.3914 13.9459C11.0968 13.8131 10.5927 13.8098 10.2945 13.9392L9.80819 14.1483C9.41061 14.3209 8.79295 14.3176 8.39892 14.1417L7.94455 13.9392C7.64636 13.8065 7.1494 13.8098 6.85121 13.9459L5.88567 14.384C6.2655 12.17 8.31373 10.4739 10.7844 10.4739L10.7915 10.4772Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 22px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Eletroportáteis"]),
:global(.Eletroportáteis) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 20 24' fill='none'%3E%3Cpath d='M9.97795 6.90134C10.4012 6.90134 10.796 7.00444 11.1411 7.18737C11.1802 6.88803 11.4007 6.57207 12.1157 6.12972C13.4424 5.31486 13.8194 2.61087 10.1345 2.61087C5.73456 2.61087 7.33161 5.52772 8.46271 7.40688C8.87887 7.09091 9.40529 6.90134 9.97795 6.90134Z' fill='white'/%3E%3Cpath d='M7.59839 9.15631C7.30672 9.27272 6.90123 9.25276 6.12938 8.89356C4.71373 8.2317 2.01404 9.27604 3.86007 12.2594C6.05824 15.8215 7.95408 13.0809 9.13141 11.2084C8.24219 10.8925 7.60906 10.0909 7.59839 9.15298V9.15631Z' fill='white'/%3E%3Cpath d='M12.3574 9.13303C12.3574 9.94789 11.8879 10.6596 11.1943 11.0421C11.454 11.2251 11.6425 11.5543 11.6887 12.3625C11.7812 13.8459 14.0932 15.5055 15.9393 12.5222C18.1374 8.96009 14.6374 8.79712 12.3254 8.77051C12.3432 8.88692 12.3574 9.00665 12.3574 9.13636V9.13303Z' fill='white'/%3E%3Cpath d='M9.97781 7.62973C9.09214 7.62973 8.3772 8.30157 8.3772 9.1264C8.3772 9.95124 9.09569 10.6231 9.97781 10.6231C10.8599 10.6231 11.5784 9.95124 11.5784 9.1264C11.5784 8.30157 10.8599 7.62973 9.97781 7.62973Z' fill='white'/%3E%3Cpath d='M19.738 9.12971C19.738 4.09424 15.3594 0 9.97783 0C4.59622 0 0.214111 4.09424 0.214111 9.12971C0.214111 13.6098 3.68566 17.3381 8.24561 18.1064V21.3193H6.58098C5.43921 21.3193 4.51086 22.184 4.51086 23.255V23.5976C4.51086 23.8204 4.70649 24.0033 4.9448 24.0033H15.0109C15.2492 24.0033 15.4448 23.8204 15.4448 23.5976V23.255C15.4448 22.1874 14.52 21.3193 13.3747 21.3193H11.71V18.1064C16.27 17.3381 19.7415 13.6098 19.7415 9.12971H19.738ZM1.70801 9.12971C1.70801 4.86585 5.41787 1.3969 9.97783 1.3969C14.5378 1.3969 18.2441 4.86585 18.2441 9.12639C18.2441 13.3869 14.5342 16.8559 9.97783 16.8559C5.42143 16.8559 1.70801 13.3902 1.70801 9.12971Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Bicicletas"]),
:global(.Bicicletas) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath d='M17.1111 20C17.1111 22.21 19.0254 24 21.3889 24C23.7524 24 25.6667 22.21 25.6667 20C25.6667 17.79 23.7524 16 21.3889 16C19.0254 16 17.1111 17.79 17.1111 20ZM0 20C0 22.21 1.91431 24 4.27778 24C6.64125 24 8.55555 22.21 8.55555 20C8.55555 17.79 6.64125 16 4.27778 16C1.91431 16 0 17.79 0 20Z' fill='white'/%3E%3Cpath d='M12.8334 21C12.2416 21 11.7639 20.5533 11.7639 20V15.9033C11.7639 15.5233 11.5394 15.18 11.1722 15.01L9.30422 14.1367C8.37024 13.7 7.73927 12.8967 7.57172 11.9333C7.40417 10.97 7.73214 10.0233 8.47005 9.33333L10.5626 7.37667C11.8138 6.20667 13.8494 6.20667 15.1006 7.37667L17.2395 9.37667C17.4391 9.56333 17.7136 9.67 17.9952 9.67H19.963C20.5548 9.67 21.0325 10.1167 21.0325 10.67C21.0325 11.2233 20.5548 11.67 19.963 11.67H17.9952C17.1504 11.67 16.3233 11.35 15.728 10.79L13.5891 8.79C13.172 8.4 12.4947 8.4 12.0776 8.79L9.9851 10.7467C9.73913 10.9767 9.62862 11.2933 9.68566 11.6133C9.74269 11.9333 9.95302 12.2033 10.2632 12.3467L12.1311 13.22C13.2255 13.73 13.9028 14.76 13.9028 15.9033V20C13.9028 20.5533 13.4251 21 12.8334 21ZM18.5371 2C18.5371 3.10333 17.5782 4 16.3982 4C15.2182 4 14.2593 3.10333 14.2593 2C14.2593 0.896667 15.2182 0 16.3982 0C17.5782 0 18.5371 0.896667 18.5371 2Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Informática"]),
:global(.Informática) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='18' viewBox='0 0 26 18' fill='none'%3E%3Cpath d='M0 13.6846V4.31537C0 1.63845 1.42593 0.299988 4.27778 0.299988H21.3889C24.2407 0.299988 25.6667 1.63845 25.6667 4.31537V13.6846C25.6667 16.3615 24.2407 17.7 21.3889 17.7H4.27778C1.42593 17.7 0 16.3615 0 13.6846Z' fill='white'/%3E%3Cpath d='M5.70366 5.65383C5.70366 6.39333 5.06556 6.99229 4.27773 6.99229C3.48991 6.99229 2.85181 6.39333 2.85181 5.65383C2.85181 4.91433 3.48991 4.31537 4.27773 4.31537C5.06556 4.31537 5.70366 4.91433 5.70366 5.65383ZM9.26847 4.31537C8.48065 4.31537 7.84255 4.91433 7.84255 5.65383C7.84255 6.39333 8.48065 6.99229 9.26847 6.99229C10.0563 6.99229 10.6944 6.39333 10.6944 5.65383C10.6944 4.91433 10.0563 4.31537 9.26847 4.31537ZM14.2592 4.31537C13.4714 4.31537 12.8333 4.91433 12.8333 5.65383C12.8333 6.39333 13.4714 6.99229 14.2592 6.99229C15.047 6.99229 15.6851 6.39333 15.6851 5.65383C15.6851 4.91433 15.047 4.31537 14.2592 4.31537ZM12.8333 8.33075C12.0455 8.33075 11.4074 8.92971 11.4074 9.66921C11.4074 10.4087 12.0455 11.0077 12.8333 11.0077C13.6211 11.0077 14.2592 10.4087 14.2592 9.66921C14.2592 8.92971 13.6211 8.33075 12.8333 8.33075ZM7.84255 8.33075C7.05472 8.33075 6.41662 8.92971 6.41662 9.66921C6.41662 10.4087 7.05472 11.0077 7.84255 11.0077C8.63037 11.0077 9.26847 10.4087 9.26847 9.66921C9.26847 8.92971 8.63037 8.33075 7.84255 8.33075ZM22.8148 5.65383C22.8148 5.09837 22.3371 4.64998 21.7453 4.64998H19.25C18.6582 4.64998 18.1805 5.09837 18.1805 5.65383C18.1805 6.20929 18.6582 6.65768 19.25 6.65768H21.7453C22.3371 6.65768 22.8148 6.20929 22.8148 5.65383ZM21.0324 9.66921C21.0324 9.11375 20.5547 8.66537 19.9629 8.66537H17.824C17.2323 8.66537 16.7546 9.11375 16.7546 9.66921C16.7546 10.2247 17.2323 10.6731 17.824 10.6731H19.9629C20.5547 10.6731 21.0324 10.2247 21.0324 9.66921ZM18.1805 13.6846C18.1805 13.1291 17.7028 12.6808 17.1111 12.6808H8.55551C7.96375 12.6808 7.48606 13.1291 7.48606 13.6846C7.48606 14.2401 7.96375 14.6884 8.55551 14.6884H17.1111C17.7028 14.6884 18.1805 14.2401 18.1805 13.6846Z' fill='%230087D2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 17px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Utilidade do Lar"]),
:global(.Utilidade) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath d='M10.2067 10.5416L6.37218 14.1262C6.21748 14.2708 5.96733 14.2708 5.81263 14.1262L5.3255 13.6708C3.11694 11.6062 1.31323 7.53233 1.31323 4.6154V2.15387C1.31323 1.78463 1.55022 1.44002 1.91886 1.30463C2.2875 1.15694 2.72197 1.2431 2.99845 1.50156L9.83148 7.88925C9.84465 8.67079 10.0059 9.43386 10.2956 10.1569C10.3482 10.2892 10.3186 10.44 10.21 10.5416H10.2067Z' fill='white'/%3E%3Cpath d='M25.3803 23.7292C25.1828 23.9138 24.9326 24 24.6825 24C24.4323 24 24.1822 23.9138 23.9847 23.7292L16.783 16.9969L13.9919 19.6062C13.6891 19.8892 13.2678 20.0492 12.8333 20.0492C12.3988 20.0492 11.9775 19.8892 11.6747 19.6062L10.5589 18.5631C10.4042 18.4185 10.4042 18.1846 10.5589 18.04L14.4066 14.4523C14.5152 14.3508 14.6732 14.3231 14.8147 14.3723C15.5783 14.6369 16.3913 14.7815 17.2142 14.7908L25.377 22.4215C25.7588 22.7785 25.7588 23.3692 25.377 23.7262L25.3803 23.7292Z' fill='white'/%3E%3Cpath d='M25.3803 6.42462C25.1828 6.24 24.9327 6.15385 24.6825 6.15385C24.4324 6.15385 24.1822 6.24 23.9847 6.42462L20.035 10.1169L19.1266 9.26769L23.0763 5.57539C23.3528 5.31692 23.4318 4.93538 23.3001 4.61538C23.2606 4.48 23.1816 4.36923 23.0763 4.27077C22.6945 3.91385 22.0625 3.91385 21.6807 4.27077L17.731 7.96308L17.1517 7.42154L21.1014 3.72923C21.4832 3.37231 21.4832 2.78154 21.1014 2.42462C20.9961 2.32615 20.8776 2.25231 20.7328 2.21538C20.3905 2.09231 19.9823 2.16615 19.7059 2.42462L15.7561 6.11692L14.8477 5.26769L18.7974 1.57538C19.1792 1.21846 19.1792 0.627692 18.7974 0.270769C18.5999 0.0861538 18.3498 0 18.0996 0C17.8495 0 17.5993 0.0861538 17.4019 0.270769L13.4521 3.96308C12.3857 4.96 11.7932 6.28923 11.7932 7.69231C11.7932 8.76308 12.1487 9.76 12.7675 10.6338C12.7807 10.6585 12.807 10.6831 12.8202 10.7077L7.48803 15.6923L0.286355 22.4246C-0.0954518 22.7815 -0.0954518 23.3723 0.286355 23.7292C0.483842 23.9138 0.733991 24 0.984141 24C1.23429 24 1.48444 23.9138 1.68193 23.7292L8.8836 16.9969L14.2157 12.0123C14.2421 12.0246 14.2684 12.0492 14.2947 12.0615C15.2558 12.6523 16.3354 12.96 17.4413 12.96C18.8896 12.96 20.3247 12.4554 21.4306 11.4215L25.3803 7.72923C25.7621 7.37231 25.7621 6.78154 25.3803 6.42462Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Cama e Mesa"]),
:global(.Cama) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='18' viewBox='0 0 26 18' fill='none'%3E%3Cpath d='M20.7309 3.08887H4.84387C4.30421 3.08887 3.85669 3.51198 3.85669 4.0222V12.7333C3.85669 13.2435 4.30421 13.6666 4.84387 13.6666H25.6668V7.75553C25.6668 4.74398 23.9162 3.08887 20.7309 3.08887Z' fill='white'/%3E%3Cpath d='M24.6795 11.8H1.97436V1.53331C1.97436 1.01686 1.53342 0.599976 0.987179 0.599976C0.44094 0.599976 0 1.01686 0 1.53331V16.4666C0 16.9831 0.44094 17.4 0.987179 17.4C1.53342 17.4 1.97436 16.9831 1.97436 16.4666V13.6666H23.6923V16.4666C23.6923 16.9769 24.1398 17.4 24.6795 17.4C25.2191 17.4 25.6667 16.9769 25.6667 16.4666V12.7333C25.6667 12.2169 25.2257 11.8 24.6795 11.8Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Banho"]),
:global(.Banho) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='24' viewBox='0 0 26 24' fill='none'%3E%3Cpath d='M4.42981 0C1.4766 0 0 1.33038 0 3.99113V20.0089C0 22.6696 1.4766 24 4.42981 24H15.3308C18.2841 24 19.7607 22.6696 19.7607 20.0089V2.66075C19.7607 1.19069 21.0822 0 22.7139 0H4.42981Z' fill='white'/%3E%3Cpath d='M22.7137 15.1896C24.338 15.1896 25.6669 13.9922 25.6669 12.5288V2.66075C25.6669 1.92905 25.3421 1.26386 24.7957 0.784922C24.2641 0.292683 23.5258 0 22.7137 0C21.0894 0 19.7605 1.19734 19.7605 2.66075V15.1896H22.7137Z' fill='%23BEE2FF'/%3E%3Cpath d='M16.7487 20.4944C16.7487 19.9423 16.254 19.4966 15.6412 19.4966H4.19754C3.58475 19.4966 3.09009 19.9423 3.09009 20.4944C3.09009 21.0465 3.58475 21.4921 4.19754 21.4921H15.6412C16.254 21.4921 16.7487 21.0465 16.7487 20.4944Z' fill='%230087D2'/%3E%3Cpath d='M16.7487 16.3105C16.7487 15.7584 16.254 15.3127 15.6412 15.3127H4.19754C3.58475 15.3127 3.09009 15.7584 3.09009 16.3105C3.09009 16.8626 3.58475 17.3083 4.19754 17.3083H15.6412C16.254 17.3083 16.7487 16.8626 16.7487 16.3105Z' fill='%230087D2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Decoração"]),
:global(.Decoração) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='24' viewBox='0 0 18 24' fill='none'%3E%3Cpath d='M17.2875 0.206439L15.794 -2.65444e-05C15.662 -0.016677 15.5404 0.0699055 15.5196 0.196449L13.5814 13.3137C13.5641 13.4269 13.4634 13.5135 13.3418 13.5135H0.414032C0.282045 13.5135 0.170898 13.6167 0.170898 13.7466V23.7669C0.170898 23.8934 0.278572 24 0.414032 24H1.92493C2.05692 24 2.16807 23.8967 2.16807 23.7669V16.7004C2.16807 16.5739 2.27574 16.4673 2.4112 16.4673H13.3453C13.4772 16.4673 13.5884 16.5705 13.5884 16.7004V23.7669C13.5884 23.8934 13.6961 24 13.8315 24H15.3424C15.4744 24 15.5856 23.8967 15.5856 23.7669V13.5168H15.5786L17.4959 0.466187C17.5133 0.339643 17.423 0.22309 17.291 0.203109L17.2875 0.206439Z' fill='white'/%3E%3Cpath d='M12.2442 10.2367L12.9354 10.3299C13.0674 10.3466 13.1889 10.26 13.2098 10.1335L14.6443 0.68265C14.6651 0.556106 14.5713 0.439553 14.4394 0.419572L13.7482 0.32633C13.1716 0.246407 12.6367 0.632698 12.5568 1.18549L11.3481 9.09447C11.2647 9.64727 11.6676 10.1601 12.2442 10.2367Z' fill='white'/%3E%3Cpath d='M12.9076 10.9094H1.26153C0.660639 10.9094 0.170898 11.3756 0.170898 11.9551V12.4146C0.170898 12.5445 0.278572 12.6477 0.414032 12.6477H12.9076C13.0431 12.6477 13.1508 12.5445 13.1508 12.4146V11.1425C13.1508 11.0127 13.0431 10.9094 12.9076 10.9094Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 19px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-submenuLink[title="Telefone"]),
:global(.Telefone) {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.8258 15.7046L14.3391 17.7804C10.6058 16.3217 7.61912 13.5197 6.05578 10.0194L8.27245 8.64172C9.48245 7.88743 9.85245 6.38198 9.10912 5.21003L7.02578 1.91859C6.59245 1.23287 5.74245 0.880665 4.90911 1.03651H4.88578C1.47244 1.67859 -0.710902 4.88587 0.212434 8.02458C2.39244 15.4459 8.57912 21.2121 16.4958 23.2444C19.8525 24.1046 23.2758 22.0599 23.9592 18.8714C24.1258 18.0953 23.7492 17.3036 23.0225 16.8984L19.4991 14.9347C18.2491 14.2365 16.6358 14.5763 15.8258 15.7077V15.7046Z' fill='white'/%3E%3Cpath d='M18.6658 10.6615C18.1124 10.6615 17.6658 10.2438 17.6658 9.7264C17.6658 8.18042 16.3191 6.92119 14.6658 6.92119C14.1124 6.92119 13.6658 6.50353 13.6658 5.98613C13.6658 5.46872 14.1124 5.05106 14.6658 5.05106C17.4224 5.05106 19.6658 7.14873 19.6658 9.7264C19.6658 10.2438 19.2191 10.6615 18.6658 10.6615ZM23.6658 9.7264C23.6658 5.08535 19.6291 1.31079 14.6658 1.31079C14.1124 1.31079 13.6658 1.72845 13.6658 2.24586C13.6658 2.76326 14.1124 3.18093 14.6658 3.18093C18.5258 3.18093 21.6658 6.11704 21.6658 9.7264C21.6658 10.2438 22.1125 10.6615 22.6658 10.6615C23.2191 10.6615 23.6658 10.2438 23.6658 9.7264Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

:global(.vtex-store-drawer-0-x-subMenu a) {
  color: #fff !important;
}

:global(.vtex-store-drawer-0-x-subMenu li) {
  margin-left: 24px;
  border-color: #51c1ff !important;
}

:global(.vtex-store-drawer-0-x-menuList li) {
  border-color: #51c1ff !important;
}

:global(.vtex-store-drawer-0-x-menuLink.dn ~ .vtex-button) {
  display: none;
}

:global(
    .vtex-store-drawer-0-x-menuList
      .vtex-store-drawer-0-x-menuClose
      ~ .vtex-store-drawer-0-x-menuItem
  ) {
  border: none;
}
