.link--wishlist-btn-header::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1_185)'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='white'/%3E%3Cpath d='M17.6101 11.943C16.8661 15.786 12.0001 18 12.0001 18C12.0001 18 7.13405 15.786 6.39005 11.943C5.93405 9.585 6.93305 7.212 9.47405 7.2C11.3671 7.191 12.0031 9.099 12.0031 9.099C12.0031 9.099 12.6391 7.191 14.5291 7.2C17.0761 7.212 18.0691 9.585 17.6131 11.943H17.6101Z' fill='%2335B7FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_185'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
}

.label--category-link {
  color: #fff !important;
}

.link--link-favorites,
.link--link-account {
  background-color: #51c1ff;
  color: #fff !important;
  padding: 1rem !important;
}

.link--link-account {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.4862 10.1053C15.2767 10.1053 17.5389 7.84312 17.5389 5.05263C17.5389 2.26214 15.2767 0 12.4862 0C9.69573 0 7.43359 2.26214 7.43359 5.05263C7.43359 7.84312 9.69573 10.1053 12.4862 10.1053Z' fill='white'/%3E%3Cpath d='M21.9474 19.601V23.3684C21.9474 23.7189 21.6663 24 21.3158 24H3.63158C3.28105 24 3 23.7189 3 23.3684V19.601C3 16.3863 4.81895 12.6316 9.94737 12.6316H15C20.1284 12.6316 21.9474 16.3863 21.9474 19.601Z' fill='white'/%3E%3C/svg%3E");
  }
}
.link--link-favorites {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1_185)'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='white'/%3E%3Cpath d='M17.6101 11.943C16.8661 15.786 12.0001 18 12.0001 18C12.0001 18 7.13405 15.786 6.39005 11.943C5.93405 9.585 6.93305 7.212 9.47405 7.2C11.3671 7.191 12.0031 9.099 12.0031 9.099C12.0031 9.099 12.6391 7.191 14.5291 7.2C17.0761 7.212 18.0691 9.585 17.6131 11.943H17.6101Z' fill='%2335B7FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_185'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
