<style>
  .tfcvih-weonne-zenir-io-4-x-paginationDot.tfcvih-weonne-zenir-io-4-x-paginationDot--isActive.bg-emphasis.grow.dib.br-100.pa2.mr2.ml2.bw0.pointer.outline-0 {
    background: #ffc700;
  }

  .vtex-login-2-x-googleOptionBtn button {
    background: #000 !important;
    border-color: #000 !important;
  }
  .vtex-login-2-x-facebookOptionBtn button {
    background: #969696 !important;
    border-color: #969696 !important;
  }

  .vtex-login-2-x-emailPasswordOptionBtn button,
  .vtex-login-2-x-accessCodeOptionBtn button {
    background: #f5f5f5 !important;
    color: #000;
    border-color: #f5f5f5 !important;
  }

  .vtex-login-2-x-sendButton button {
    background: #ffc700 !important;
    border-color: #ffc700 !important;
  }
</style>
