.menuItem {
  margin: 4px 0;
}
.menuItem:hover {
  @media (min-width: 1025px) {
    background-color: #bf0811;
  }
}

.menuItem--all-categories:hover {
  background-color: transparent !important;
}

.styledLinkContent:hover {
  border: none !important;
}

.styledLinkContent--menu-institucional-footer,
.styledLinkContent--menu-accordion--container-mobile:hover {
  background: transparent !important;
  color: #515151 !important;
}

.menuItem--menu-institucional-footer:hover {
  background-color: transparent;
}
