.flexRow--section-home,
.flexRow--shelf-default,
.flexRow--beneficios-container {
  background-color: #000c62 !important;
  background: #000c62 !important;
}

.flexRow--ofertas-do-dia,
.flexRow--mega-menu-row,
.flexRowContent--beneficios-item {
  background: #149dff !important;
  background-color: #149dff !important;
}

.flexRowContent--drawer-header {
  background: #51c1ff !important;
}

.flexCol--menu-texts {
  background-color: #51c1ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 16px 48px 16px;
  padding: 24px;
  width: auto;
  gap: 12px;

  .flexColChild--menu-texts {
    width: 100%;
  }

  :global(.vtex-store-link-0-x-link) {
    margin: 0 auto;
    width: 100%;
    max-width: 100% !important;
    background-color: #0231d3;
  }

  :global(.vtex-store-link-0-x-link--link-telefone) {
    background-color: #ed1c24 !important;
  }
}

.flexRow--ofertas-do-dia {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/01e50445-5efb-4feb-ae28-1974c380c842___7618fcc94c7865a4f97c17c06d715a36.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/03596d3f-67e5-4707-9127-c9f1cb38139c___194002a05ab924d7773a12f32008b689.png') !important;
  }
}

.flexRow--categorie-badges {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/ca7a1821-cc5c-4501-b64b-da05ca331542___8ebd1bb464d23e8eb8eae76331d7ad41.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  // @media (min-width: 641px) and (max-width: 1024px) {
  //   background-image: url("https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/7a33e95b-0667-4c9e-be35-be09e1ac80cc___2ccb8f55ef30f868994ec241bfa2c403.png") !important;
  //   background-size: 1024px !important;
  // }

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/265592b9-d198-4ee4-b54b-8de2401f4108___2e6079a1f99b1b16e2f9df736e745813.png') !important;
  }
}

.flexRow--mosaic-rectangular {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/2ed08d09-8e2e-4333-874b-bea98a0779c7___79f3219fe56191b93ba5380ab509476e.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/3a092d3a-87ee-4c08-94bb-c37c717fc848___93a9e953bfff340e888cfbb553f7bf94.png') !important;
  }
}

.flexRow--shelf-bottom-1 {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/52c122c6-cd37-42ff-950c-a7938012e23b___66e3f01470a66d0d921a3fe1445ae3b2.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/a31d1dd3-b90c-4343-86d8-7891e78548fd___8c12085c4ab1e11168090b7d40e03127.png') !important;
  }
}
.flexRow--shelf-bottom-2 {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/88eed631-6bce-4e1e-aea8-26ba296e5b0b___260625013643055bbb7464dab1e800ec.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/0ba4ff7d-9d9b-44fa-8758-7d8865f4a60f___fe997fddd3201270ae8bb740277accec.png') !important;
  }

  :global(.vtex-rich-text-0-x-paragraph--shelf-title) {
    padding-top: 5px;
  }
}
.flexRow--shelf-bottom-3 {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/a8efd1f0-39d2-496b-8692-af2e188914b2___35665da53a61744bb43efe64d58275b8.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/8ce82cb3-a736-48d4-b036-5550011053b5___ade96d23d1910eadf881c33c6ff9ecbf.png') !important;
  }
}

.flexRow--mosaic-square {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/6c3333c8-b9cf-4a20-aac8-9636823cf4ed___29143549cdfaafd2f08a6c84c16d186f.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  margin-bottom: -7px;

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/ea34ac0c-3559-4ca3-900a-aa3395960c25___a9437e0399fc74de9234c76eaf15de4e.png') !important;
  }
}

.flexRow--brand-badges {
  background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/c51e3f6f-fddf-413f-b54d-cc76411ef147___7be9bbdfdee5a97ae7b9c35b831f5a63.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (max-width: 640px) {
    max-height: 130px !important;
  }

  @media (min-width: 641px) {
    background-image: url('https://tfcvih.vtexassets.com/assets/vtex.file-manager-graphql/images/a935f018-c37f-42fa-a1aa-31ca7ea8025a___22a6a954ad349a95ff63202274c52a9d.png') !important;
  }
}
