.paragraph--beneficios-sub,
.paragraph--beneficios-text {
  color: #fff;
  text-decoration: none;
}

.paragraph--beneficios-sub {
  background-color: #bf0811;
  padding: 8px 16px;
  white-space: nowrap;

  @media (max-width: 640px) {
    font-size: 11px !important;
  }
}

.paragraph--shelf-title {
  color: #fff !important;
}

.paragraph--mega-menu {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M18.75 8.75H1.25C0.5 8.75 0 9.25 0 10C0 10.75 0.5 11.25 1.25 11.25H18.75C19.5 11.25 20 10.75 20 10C20 9.25 19.5 8.75 18.75 8.75Z' fill='white'/%3E%3Cpath d='M18.75 1.25H1.25C0.5 1.25 0 1.75 0 2.5C0 3.25 0.5 3.75 1.25 3.75H18.75C19.5 3.75 20 3.25 20 2.5C20 1.75 19.5 1.25 18.75 1.25Z' fill='white'/%3E%3Cpath d='M18.75 16.25H1.25C0.5 16.25 0 16.75 0 17.5C0 18.25 0.5 18.75 1.25 18.75H18.75C19.5 18.75 20 18.25 20 17.5C20 16.75 19.5 16.25 18.75 16.25Z' fill='white'/%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: flex;
    margin-bottom: 1px;
    margin-right: 1rem;
  }
}

.paragraph--atendimento-text {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.8258 15.7046L14.3391 17.7804C10.6058 16.3217 7.61912 13.5197 6.05578 10.0194L8.27245 8.64172C9.48245 7.88743 9.85245 6.38198 9.10912 5.21003L7.02578 1.91859C6.59245 1.23287 5.74245 0.880665 4.90911 1.03651H4.88578C1.47244 1.67859 -0.710902 4.88587 0.212434 8.02458C2.39244 15.4459 8.57912 21.2121 16.4958 23.2444C19.8525 24.1046 23.2758 22.0599 23.9592 18.8714C24.1258 18.0953 23.7492 17.3036 23.0225 16.8984L19.4991 14.9347C18.2491 14.2365 16.6358 14.5763 15.8258 15.7077V15.7046Z' fill='white'/%3E%3Cpath d='M18.6658 10.6615C18.1124 10.6615 17.6658 10.2438 17.6658 9.7264C17.6658 8.18042 16.3191 6.92119 14.6658 6.92119C14.1124 6.92119 13.6658 6.50353 13.6658 5.98613C13.6658 5.46872 14.1124 5.05106 14.6658 5.05106C17.4224 5.05106 19.6658 7.14873 19.6658 9.7264C19.6658 10.2438 19.2191 10.6615 18.6658 10.6615ZM23.6658 9.7264C23.6658 5.08535 19.6291 1.31079 14.6658 1.31079C14.1124 1.31079 13.6658 1.72845 13.6658 2.24586C13.6658 2.76326 14.1124 3.18093 14.6658 3.18093C18.5258 3.18093 21.6658 6.11704 21.6658 9.7264C21.6658 10.2438 22.1125 10.6615 22.6658 10.6615C23.2191 10.6615 23.6658 10.2438 23.6658 9.7264Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 16px;
  }
}
