.stackContainer--summary-highlights{
    position: initial;
}

.productHighlightWrapper {
    width: 88px;
    background-color: #001D7E;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 767px) {
    .productHighlightWrapper {
        top: 5px;
        left: 5px;
    }
}

.productHighlightWrapper:not(:last-child) {
    margin-bottom: 6px;
}

.productHighlightWrapper[data-highlight-name="Lançamento"],
.productHighlightWrapper[data-highlight-name="LANÇAMENTO"] {
    background-color: #001D7E;
}

.productHighlightText {
    font-family: 'Futura Hv BT', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    padding: 5px;
    text-transform: uppercase;
}