.childrenContainer--mega-menu  {
    flex-direction: column;
    display: flex;
}

.drawerContent--mega-menu .closeIconButton {
    display: none;
}

.opened--mega-menu .closeIconButton {
    position: absolute;
    top: 1rem;
    margin-left: 1rem;
    background-color: #434343;
    border-radius: 5px;
    left: 100%;
    display: flex;
}

.drawerContent--mega-menu .closeIcon {
    color: #fff;
}

.openIconContainer--mega-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.opened {
    z-index: 999999999;
}

.closed--mega-menu .closeIconButton {
    display: none;
}

.menuIcon--mega-menu {
    color: #fff;
}

@media screen and (max-width: 768px) {
    // .childrenContainer--mega-menu  {
    //     background: #121212;
    // } 
    .opened--mega-menu  .closeIconButton {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .openIconContainer--mega-menu::before {
        display: none;
    }

    .openIconContainer--mega-menu {
        padding-left: 0;
    }

    .menuIcon--mega-menu {
        color: #001D7E;
        // color: #fff;
    }

}
.menuClose{
    display: none !important;
}

.subMenu{
    width: 100%;
}

.submenuLink{
    font-weight: 700;
}
.menuButton{
    background-color: transparent;
}

.invert{
    transform: rotate(180deg);
}