:global(.vtex-flex-layout-0-x-flexRow--nav-searchLoginMinicart)
  :global(.vtex-flex-layout-0-x-flexRowContent--nav-searchLoginMinicart)
  .container
  :global(.vtex-button):hover {
  background-color: tranparent !important;
}

.container :global(.vtex-button) :global(.vtex-button__label):hover {
  background-color: tranparent !important;
}

.formTitle {
  text-align: left;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.button :global(.vtex-button) {
  font-family: "Futura Md BT", sans-serif;
  background-color: #fff;
  border: 1px solid #001d7e;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: initial;
  transition: 0.3s;
}

.buttonLink {
  border-radius: 4px;
  width: 156px;
  margin: 30px 0 30px 42px;
}

.contentInitialScreen::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: -2;
  opacity: 0.4;
  transition: 0.3s;
  pointer-events: none;
}

.label {
  font-size: 0;
  padding: 0;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;

  &::after {
    content: "Olá, faça o login ou cadastre-se!";
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 120% */
    min-width: 125px;
    display: block;
    text-align: left;
    text-transform: none;
    margin-top: 3px;
  }
}

.label::before,
.profile::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='30' viewBox='0 0 29 30' fill='none'%3E%3Cpath d='M19.9375 11.375C19.9375 12.8171 19.3646 14.2002 18.3449 15.2199C17.3252 16.2396 15.9421 16.8125 14.5 16.8125C13.0579 16.8125 11.6748 16.2396 10.6551 15.2199C9.63538 14.2002 9.0625 12.8171 9.0625 11.375C9.0625 9.93289 9.63538 8.54984 10.6551 7.53011C11.6748 6.51038 13.0579 5.9375 14.5 5.9375C15.9421 5.9375 17.3252 6.51038 18.3449 7.53011C19.3646 8.54984 19.9375 9.93289 19.9375 11.375Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 15C0 11.1544 1.52767 7.46623 4.24695 4.74695C6.96623 2.02767 10.6544 0.5 14.5 0.5C18.3456 0.5 22.0338 2.02767 24.753 4.74695C27.4723 7.46623 29 11.1544 29 15C29 18.8456 27.4723 22.5338 24.753 25.253C22.0338 27.9723 18.3456 29.5 14.5 29.5C10.6544 29.5 6.96623 27.9723 4.24695 25.253C1.52767 22.5338 0 18.8456 0 15ZM14.5 2.3125C12.1107 2.31263 9.77004 2.98741 7.74735 4.25918C5.72467 5.53094 4.1022 7.34801 3.06668 9.50123C2.03117 11.6544 1.6247 14.0563 1.89406 16.4303C2.16342 18.8044 3.09766 21.0541 4.58925 22.9206C5.87612 20.8471 8.70906 18.625 14.5 18.625C20.2909 18.625 23.1221 20.8453 24.4108 22.9206C25.9023 21.0541 26.8366 18.8044 27.1059 16.4303C27.3753 14.0563 26.9688 11.6544 25.9333 9.50123C24.8978 7.34801 23.2753 5.53094 21.2526 4.25918C19.23 2.98741 16.8893 2.31263 14.5 2.3125Z' fill='white'/%3E%3C/svg%3E");
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.profile {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8d8c8c;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.container :global(.vtex-button) {
  background: transparent !important;
  border: none !important;
  // background: #C00903;
}

.container :global(.vtex-button):hover {
  opacity: 0.9;
}

.oauthProvider {
  font-weight: normal;
}

.buttonSocial {
  position: relative;
}

.oauthLabel {
  color: #fff;
  text-transform: initial;
}
.facebookOptionBtn :global(svg) {
  margin-right: 20px;
}
.facebookOptionBtn :global(svg path) {
  fill: #fff;
}
.facebookOptionBtn :global(.vtex-button) {
  background-color: #2249c8;
  border-color: #2249c8;
}
.facebookOptionBtn :global(.vtex-button):hover {
  background-color: #2249c8;
  border-color: #2249c8;
}
.googleOptionBtn :global(.vtex-button) {
  background-color: #dc4e41;
  border-color: #dc4e41;
}
.googleOptionBtn :global(.vtex-button):hover {
  background-color: #dc4e41;
  border-color: #dc4e41;
}
/* .googleOptionBtn :global(.vtex-login-2-x-oauthLabel){
    background-color: #fff;
    border-color: #DC4E41;
    color: #DC4E41;
} */
.googleOptionBtn :global(svg) {
  display: none;
}
.googleOptionBtn :global(.vtex-login-2-x-oauthLabel)::before {
  content: "";
  width: 34px;
  height: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAzNiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS40NTQ1IDkuODE4MThWMTMuNzQ1NUgxNy45MTgyQzE3LjY3MjcgMTUuNDYzNiAxNS45NTQ1IDE4LjY1NDUgMTEuNDU0NSAxOC42NTQ1QzcuNTI3MjcgMTguNjU0NSA0LjMzNjM2IDE1LjM4MTggNC4zMzYzNiAxMS40NTQ1QzQuMzM2MzYgNy41MjcyNyA3LjUyNzI3IDQuMjU0NTUgMTEuNDU0NSA0LjI1NDU1QzEzLjY2MzYgNC4yNTQ1NSAxNS4xMzY0IDUuMjM2MzYgMTYuMDM2NCA2LjA1NDU0TDE5LjE0NTUgMy4wMjcyN0MxNy4xIDEuMTQ1NDUgMTQuNTYzNiAwIDExLjQ1NDUgMEM1LjE1NDU1IDAgMCA1LjE1NDU0IDAgMTEuNDU0NUMwIDE3Ljc1NDUgNS4xNTQ1NSAyMi45MDkxIDExLjQ1NDUgMjIuOTA5MUMxOC4wODE4IDIyLjkwOTEgMjIuNDE4MiAxOC4yNDU1IDIyLjQxODIgMTEuN0MyMi40MTgyIDEwLjk2MzYgMjIuMzM2NCAxMC4zOTA5IDIyLjI1NDUgOS44MTgxOEgxMS40NTQ1Wk0zNiA5LjgxODE4SDMyLjcyNzNWNi41NDU0NUgyOS40NTQ1VjkuODE4MThIMjYuMTgxOFYxMy4wOTA5SDI5LjQ1NDVWMTYuMzYzNkgzMi43MjczVjEzLjA5MDlIMzZWOS44MTgxOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

/* redesign do login */

.inputContainer :global(.vtex-input-prefix__group) {
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}

.forgotPasswordLink {
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #001d7e;
}

.inputContainerPassword :global(.vtex-input__suffix) {
  display: none;
}

.emailAndPasswordForm .formLinkContainer .dontHaveAccount {
  display: none;
}

.button :global(.vtex-button:hover) {
  background-color: #001d7e;
  color: #fff;
}

.contentInitialScreen {
  border-radius: 10px;
  box-shadow: none;
}

.formFooter {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.formFooter {
  border-top: none;
  margin-top: 0px;
  padding-top: 0.5rem;
}

.formFooter :global(.vtex-button) {
  width: 100%;
}

.sendButton {
  width: 100%;
}

.inputContainer :global(.vtex-styleguide-9-x-input),
.inputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #515151;
}

.backButton {
  margin-top: 30px;
}

.loginOptionsContainer {
  padding-right: 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  box-sizing: content-box;
}

.contentForm {
  padding-left: 1.5rem;
  padding-right: 0px;
  width: 50%;
}

.sendButton :global(.vtex-button) {
  padding: 0.5rem;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;

  transition: all 0.3s ease-in-out;
}

.sendButton :global(.vtex-button):hover {
  opacity: 0.9;
}

.backButton :global(.vtex-button) {
  color: #bdbdbd;
  background: transparent !important;

  transition: all 0.3s ease-in;
}

.backButton :global(.vtex-button):hover {
  color: #000;
}

:global(.vtex-search-result-3-x-filterTitleSpan) span button {
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.52px;

  display: flex;
  height: 19.25px;
  padding: 4px 10.5px;
  align-items: center;

  border-radius: 37.5px;
  background: var(--Cores-Azul, #001d7e);
}

@media screen and (max-width: 768px) {
  .loginOptionsContainer,
  .contentForm {
    width: 100%;
    padding: 0px;
    border: none;
  }

  .contentAlwaysWithOptions .formTitle {
    margin-top: 0px;
    text-align: center;
  }

  .loginOptionsContainer .formTitle {
    margin-top: 1rem;
  }
}
