.searchResultContainer {
  padding: 0;
  margin-bottom: 34px;
}

.gallery {
  margin-bottom: 46px;
}

.galleryTitle--layout {
  font-family: 'Futura Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1025px) {
  .filter__container:not(.filter__container--title) {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 24px;
  }

  .filter__container--title {
    font-family: 'Futura Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #515151;
    margin-bottom: calc(16px + 50px);
    border: none;
  }

  .filter__container--title .filterMessage {
    margin: 16px 0;
    text-transform: uppercase;
  }

  .filter__container--selectedFilters {
    display: none;
  }

  .filter {
    padding: 30px 28px 24px;
  }

  .filterIcon {
    display: none;
  }

  .filterTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #515151;
    text-transform: uppercase;
  }

  .filterTemplateOverflow {
    padding: 0 28px;
    margin-bottom: 30px;
  }

  /* Works on Firefox */
  .filterTemplateOverflow {
    scrollbar-width: thin;
    scrollbar-color: #515151 #c4c4c4;
  }

  /* Works on Chrome, Edge, and Safari */
  .filterTemplateOverflow::-webkit-scrollbar {
    width: 8px;
  }

  .filterTemplateOverflow::-webkit-scrollbar-track {
    background: #c4c4c4;
  }

  .filterTemplateOverflow::-webkit-scrollbar-thumb {
    background-color: #515151;
  }

  .gallery {
    padding-left: 0;
    margin-bottom: 86px;
  }

  .galleryTitle--layout {
    font-family: 'Futura Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .filters--layout {
    margin-right: 4rem;
  }

  .gallery--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .galleryItem--normal {
    max-width: unset !important;
    width: 100% !important;
    flex-basis: 100% !important;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--productCountCol)
    .totalProducts--layout {
    font-family: 'Futura Medium';
    opacity: 0.6;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0.75rem;
    color: #000000;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productCountCol)
    .totalProducts--layout
    .totalProductsMessage {
    font-family: 'Futura Light BT';
    font-weight: 400;
    color: #000000;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productCountCol)
    .totalProducts--layout::before {
    font-family: 'Futura Light BT';
    content: 'MOSTRANDO: ';
    font-weight: 400;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productCountColPaginaBusca)
    .totalProducts--layout {
    font-family: 'Futura Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: initial;
    text-align: left;
    padding-left: 0.75rem;
    color: #515151;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productCountColPaginaBusca)
    .totalProducts--layout
    .totalProductsMessage {
    color: #bf0811;
  }

  .orderByButton {
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    background-color: #efefef;
  }
  .filterPopupTitle {
    font-size: 16px;
    line-height: 20px;
  }
  .orderByDropdown {
    display: flex;
  }
  .orderByDropdown::before {
    content: 'ORDENAR POR:';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    padding: 16px 24px 16px 0;
    white-space: nowrap;
  }
  .orderByText {
    display: none;
  }

  .buttonShowMore--layout {
    height: 42px;
  }
}
@media (max-width: 768px) {
  .closeIconButton {
    color: transparent;
  }

  .filterBreadcrumbsContent::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='25' viewBox='0 0 22 25' fill='none'%3E%3Cpath d='M2 2.45166L20 23.3549' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 23.355L20 2.45176' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    height: 25px;
    width: 22px;
    display: inline-block;
    right: 1rem;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #434343;
    position: absolute;
  }

  .filterBreadcrumbsContent {
    width: 100%;
    position: relative;
  }
}

.buttonShowMore--layout :global(.vtex-button) {
  width: 290px;
  height: 42px;
  background-color: #ffffff;
  border: 2px solid #001d7e;
  border-radius: 5px;
  /* padding: 15px; */
}

.buttonShowMore--layout :global(.vtex-button) :global(.vtex-button__label) {
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  color: #ec2029;
}

.filterItem {
  margin-bottom: 8px;
}

.filterItem :global(.vtex-checkbox__inner-container) {
  border-color: #ed1b34;
  background-color: unset;
}

.filterItem--selected :global(.vtex-checkbox__inner-container) {
  background-color: #ed1b34;
}

.filterTemplateOverflow :global(.vtex-slider__base-internal),
.filterTemplateOverflow :global(.vtex-slider__selector) {
  background-color: #ed1b34;
}
.filterItem :global(.vtex-checkbox__label) {
  font-family: 'Futura Light BT';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  margin-top: 1px;

  color: #515151;
}

.galleryTitle--layout {
  text-shadow: none !important;
}

.notFound--layout :global(.vtex-breadcrumb-1-x-container) {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    z-index: 9999999999999999;
  }
}
