.container--sticky-header-desktop {
    background: #FFF;
    // background: #2B662B;
    // background: #121212;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.50);
    // background: #001D7E;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.50);
    overflow: hidden;
}

.container--header-mobile {
    padding: 0px 1rem;
    // background: #2B662B;
    // background: #121212;
    background: #fff;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.50);

}

// .container--sticky-header-desktop {
//     z-index: 999999;
// }