.tileListList {
    gap: 10px;
    padding: 0px 1rem !important;
}

.tileListItem :global(.vtex-product-summary-2-x-imageNormal) {
    min-height: 8rem !important;
}
.biggy-autocomplete-wrapper :global(.vtex-product-summary-2-x-containerNormal){
    margin: 0 5px;
    padding: 10px;
}
.biggy-autocomplete-wrapper :global(.vtex-search-2-x-tileListList){
    gap: 5px;

}
.biggy-autocomplete-wrapper :global(.vtex-product-price-1-x-sellingPrice--summary){
    font-size: 18px;
    line-height: 25px;
}
.biggy-autocomplete-wrapper :global(.vtex-product-price-1-x-installments--summary){
    font-size: 12px;
    line-height: 14px;
}
.biggy-autocomplete-wrapper :global(.vtex-product-summary-2-x-brandName--summary){
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    .biggy-autocomplete {
        width: 93vw;
    }
}