.product-identifier {
  color: var(--Bombay-700, #6e6e73);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 4px;
}
