@font-face {
  font-family: "Jost Light";
  src: url("/assets/fonts/Jost-Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost Medium";
  src: url("/assets/fonts/Jost-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost SemiBold";
  src: url("/assets/fonts/Jost-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost Bold";
  src: url("/assets/fonts/Jost-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost ExtraBold";
  src: url("/assets/fonts/Jost-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Jost Black";
  src: url("/assets/fonts/Jost-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
