.infoCardContainer--info-card-celular-mobile {
  display: flex;
}

.infoCardCallActionContainer--info-card-celular-mobile {
  display: none !important;
}

.infoCardHeadline--info-card-celular-mobile {
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'Proxima Nova', sans-serif;
  color: #2E3192;
}

.infoCardTextContainer--info-card-celular-mobile {
  width: 50%;
}
